{% extends "base.html" %}
{% block content %}
    <h1>Редактирование данных пациента</h1>
    <form action="/edit_patient/{{ patient.name }}" method="post">
        <div class="form-group">
            <label for="blood_pressure">Давление:</label>
            <input type="text" id="blood_pressure" name="blood_pressure" class="form-control" value="{{ patient.blood_pressure }}" required>
        </div>
        <div class="form-group">
            <label for="height">Рост:</label>
            <input type="text" id="height" name="height" class="form-control" value="{{ patient.height }}" required>
        </div>
        <div class="form-group">
            <label for="weight">Вес:</label>
            <input type="text" id="weight" name="weight" class="form-control" value="{{ patient.weight }}" required>
        </div>
        <div class="form-group">
            <label for="complaints">Жалобы:</label>
            <textarea id="complaints" name="complaints" class="form-control" required>{{ patient.complaints }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
{% endblock %}
