{% extends "base.html" %}
{% block content %}
    <h1>
        {% if is_doctor %}
            Карточка пациента {{ patient.name }}
        {% else %}
            Добро пожаловать, {{ patient.name }}!
        {% endif %}
    </h1>
    <h2>Личные данные:</h2>
    <p>Давление: {{ patient.blood_pressure }}</p>
    <p>Рост: {{ patient.height }}</p>
    <p>Вес: {{ patient.weight }}</p>
    <p>Жалобы: {{ patient.complaints }}</p>
    
    {% if not is_doctor %}
    <a href="/edit_patient/{{ patient.name }}" class="btn btn-secondary">Редактировать</a>
    {% endif %}
    
    <h2>Назначения:</h2>
    <ul>
        {% for appointment in patient.appointments %}
        <li>{{ appointment }}</li>
        {% endfor %}
    </ul>
    
    <h2>Результаты анализов:</h2>
    <ul>
        {% for result in patient.test_results %}
        <li>{{ result }}</li>
        {% endfor %}
    </ul>
    
    <h2>Операции:</h2>
    <ul>
        {% for operation in patient.operations %}
        <li>{{ operation }}</li>
        {% endfor %}
    </ul>
{% endblock %}
